.navbar-brand .home {
    height: 40px;
    transition: transform 0.3s ease-in-out; 
}

/* Efeito de Rotação */
.navbar-brand .home:hover {
    transform: rotate(-9deg); 
}

.navbar-brand {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
    font-size: 1.5rem; 
}

.hero-img {
    height: 500px; 
    object-fit: cover; 
}

.hero-title {
    color: #007bff; /* blue example */
}

.date-select {
    padding-top: 1.5rem;
}